
.landing {
    background-color: #f3f3f3;
    box-shadow: -5px 0px 15px black, 5px 0px 15px black, ;
    margin: 0rem auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15rem 0rem;
    max-width: 85vw;

    @media (max-width: 550px){
        padding: 5rem 0rem;
        flex-direction: column;
    }

    @media (max-width: 1600px){
        max-width: 100vw;
        flex-direction: column;
    }

    .landing-text {
        padding: 2rem;
        width: 45vw;

        @media (min-width: 1600px) {
            width: 25vw;
        }

        h1 {
            font-size: 4.5rem;
            color: black;
            // text-shadow: 1px 1px 5px black;
        }

        p {
            font-size: 2.5rem;
        }
    }

    #landing-image {
        
        padding: 1rem;
        border-radius: 2rem;
        width: 75vw;
        height: 50vh;
        object-fit: cover;

        @media (max-width: 750px){
            display: none;
        }

        @media (max-width: 1600px){
            height: auto;
            object-position: center;
            width: 85vw;
        }
    }

}
