.skills-section {
    border-top: 5px solid black;
    padding-bottom: 75px;

    #skillsection-title {
        background: #2e2e2e;
        font-size: 40px;
        color: white;
        text-shadow: 1px 1px 5px black;
        margin: 0;
        padding: 35px;
        border-bottom: 5px solid black;
    }

    #skillsection-p  {
        font-size: 24px;
        color: rgb(105, 105, 105);
    }

    p {
        color: rgb(105, 105, 105);
        padding: 25px;
    }
}

.skills-wrapper {
    display: flex;
    margin: 0 auto;
    width: 85vw;
    flex-wrap: wrap;
    justify-content: center;

    @media (max-width: 550px){
        width: 100vw;
        flex-direction: column;
    }

    @media (max-width: 1250px){
        width: 100vw;
        flex-direction: column;
    }
}

.skillcard-wrapper {
    // border: 1px dashed grey;
    box-shadow: inset 0px 0px 0px 1px rgb(185, 184, 184), 
        inset 0px 2px 1px 0px rgb(87, 87, 87);
    background: white;
    width: 25vw;
    margin: 25px;
    padding: 30px 10px 0px 10px;

    @media (max-width: 550px){
        width: 90vw;
        margin: 25px auto;
        padding: 20px 0px 20px 0px;
    }

    @media (max-width: 1500px){
        width: 75vw;
        margin: 25px auto;
        padding: 20px 0px 20px 0px;
        border-radius: 10px;
        border: none;
    }
}

.icons {
    font-size: 100px;
    color: teal;
}